@rem (Base function) CheckStatus checks the Status table for timeouts and errors. It sets the mail switch and updates the Console table.  

@rem -cp C:\JavaSrc;C:\JavaSrc\postgresql-9.4.1211.jar Jvakt.CheckStatus
java -cp C:\Jvakt\Jvakt.jar Jvakt.CheckStatus
