### Checks the response of an IP-address.
### IPv4. Will try to establish a TCP connection to port 7 (Echo) and will use ICMP (ping) as a fallback. 

# ID of checkpoint ; host name ; description ; WAN router ; status when error (INFO) ; negative
AS400_PPSE08;ppse08;Production PRISM
Sunet;sunet.se;Sunet
Sunet2;sunet.se;Sunet;192.168.0.1;info;neg
