
@rem SearchMail searches for mails and reports to the Jvakt server.
java -cp C:\Jvakt\Jvakt.jar Jvakt.SearchMail -config C:\Jvakt\Mail\SearchMail > C:\Jvakt\Logs\SearchMail.log 2> C:\Jvakt\Logs\SearchMailE.log

@rem SendMailSingle sends mail decided by the CheckStatus step. The Status tabled is read and updated regarding mail issues.
java -cp C:\Jvakt\Jvakt.jar Jvakt.SendMailSingle -config C:\Jvakt\Mail\SearchMail -to ping@sunet.se  -subject "Echo from Tester" -body "--- This is an automatic monitoring mail ---" >> C:\Jvakt\Logs\SendMailSingle.log 2> C:\Jvakt\Logs\SendMailSingleE.log

